.main-content {
  text-align: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #babde6 0%, #547aec 50%, #064eca 100%);
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin: 0;
  padding: 0;
}

.main-content h1 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 1.5rem;
}

.last-saved {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 1rem;
}
